/* navigation */

.main-navigation {
  display: flex;
  align-items: center;
}
.main-navigation__list {
  display: flex;
  height: 100%;
}

.main-navigation__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.main-navigation__link {
  // display: block;
  // height: 100%;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;

  color: $color-dark;

  transition: color 250ms $function-time;

  .main-navigation__item:hover &,
  &:focus {
    color: $color-accent;
  }
}
